<p-button routerLink="/agregar-provincia">Nuevo</p-button>
<p-table
  [value]="listados"
  [tableStyle]="{ 'min-width': '60rem' }"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50]"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="CP" style="width: 20%">
        CP <p-sortIcon field="CP"></p-sortIcon>
      </th>
      <th pSortableColumn="ID" style="width: 20%">
        ID <p-sortIcon field="ID"></p-sortIcon>
      </th>
      <th pSortableColumn="CIUDADID" style="width: 20%">
        CIUDAD ID <p-sortIcon field="CIUDADID"></p-sortIcon>
      </th>
      <th pSortableColumn="PROVINCIA" style="width: 20%">
        PROVINCIA <p-sortIcon field="PROVINCIA"></p-sortIcon>
      </th>
      <th style="width: 20%">ACCIÓN <p-sortIcon></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-listado>
    <tr>
      <td>{{ listado.CP }}</td>
      <td>{{ listado.ID }}</td>
      <td>{{ listado.CIUDADID }}</td>
      <td>{{ listado.PROVINCIA }}</td>
      <td>
        <div class="card flex justify-content-center">
          <p-button [routerLink]="['/editar-provincia', listado.ID]"
            >Editar</p-button
          >
        </div>

        <app-eliminar-provincia
          [provincia]="listado"
          (click)="getAllProvinces()"
        ></app-eliminar-provincia>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button
      type="button"
      icon="pi pi-plus"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button
      type="button"
      icon="pi pi-cloud"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-table>
